.art {
}

.art__container {
  margin: auto;
  background-image: url("../../assets/color_art.jpg");
  background-size: cover;
  height: 455px;
  width: 694.5px;
}

.sidebar {
  height: 455px;
  width: 52.6%;
  max-width: 694.5px;
  resize: horizontal;
  border-right: 2px solid rgb(0, 0, 0);
  box-sizing: border-box;
  position: relative;
  animation-name: effect-preview;
  animation-delay: 1s;
  animation-duration: 4s;
  background-image: url("../../assets/bw_art.png");
  background-size: cover;
  overflow: hidden;
}

.sidebar::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(0, 0, 0);
  background-size: cover;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  border-right: 0;
  cursor: col-resize;
}

@keyframes effect-preview {
  0% {
    width: 10%;
  }
  50% {
    width: 99%;
  }
  100% {
    width: 52.6%;
  }
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 700px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .art__container {
    height: 303.33px;
    width: 463px;
  }

  .sidebar {
    height: 303.33px;
    width: 52.6%;
    max-width: 463px;
  }
}

/* For medium devices */
@media screen and (max-width: 500px) {
  .art__container {
    height: 227.5px;
    width: 347.25px;
  }

  .sidebar {
    height: 227.5px;
    width: 52.6%;
    max-width: 347.25px;
  }
}
